/* style sheet */

/* css applied to everything / all screens */
* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    color: #34516C;    
}

.breakPoint {
    margin: 2%;
}

/* css for body -- index page*/
.welcomeVideoMp4 {
    width: 250%;
    float: inline-start;
}

.welcomeVideoYT {
    width: 140%;
    float: inline-start;
}

.homeSection1 {  
    display: flex;
    flex-wrap: wrap;
    margin: 1%; 
    border-radius: 2em;
    border:3px solid #34516C;
    height: auto;
    background-color: rgb(52, 81, 108, 0.5);  /* primary grey set at 50% transparany */
    box-shadow: 5px 10px #cbcaca;
}

.homeSection1Video {
    flex: 60%;
    border-radius: 2em;
    padding: 1em;
}

.homeSection1Text {
    flex: 40%;
    padding: 1em;
}

.homeSection2 {  
    display: flex;
    flex-wrap: wrap;
    margin: 1%; 
    border-radius: 2em;
    border: 3px solid #34516C;
    box-shadow: 5px 10px #cbcaca;
}

.homeSection2Text {
    flex: 40%;
    background-color:  rgb(87, 122, 155, 0.5);  /* slate set at 50% transparany */
    padding: 1em;
}

.homeSection2Video {
    flex: 60%;
    background-color:  rgb(87, 122, 155, 0.5);  /* slate set at 50% transparany */
    padding: 1em;
}



/* css for product page */

#scrollToTopBtn {
    float: right;
    position: fixed;
    border: solid #577A9B;
    border-radius: 100px;
    background-color: #577A9B; /* slate */
    color: white;
    font-size: 100%;
    padding: 10px;
    margin: 10px;
}


.productCard {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border: solid #34516C;
    border-radius: 25px;
    max-width: 250px;
    margin: 0.7em;
    padding: 0.5em;
    text-align: center;
    font-family: arial;
  }
  
.productPrice {
    color: grey;
    font-size: 1.2em;
}

.productDescription{
    font-size: 1em;
}

.productName {
    font-size: 1.3em;
}

.addToBagBtn {
    border: solid #34516C;
    border-radius: 16px;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #34516C;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

.productCard button:hover {
    opacity: 0.7;
}

.productCard .productImage:hover {
    opacity: 0.5;
}

.readMoreLink {
    font-size: 0.9em;
    padding: auto;
}

.readMoreLink:hover {
    text-decoration: underline;
}

#tshirtContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hoodyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#jumperContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* css for item page */
#backToPageBtn {
    float: left;
    position: absolute;
    border: solid #34516C;
    border-radius: 100px;
    background-color: #34516C;
    color: white;
    font-size: 100%;
    padding: 10px;
    margin: 10px;
}

.itemPageContainer {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0.7em;
    /* padding: 0.5em;     */
}

#imageProduct {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#colourText {
    display: inline;
}

#colourProduct {
    display: inline;
}





/* css for cart page */
/* .itemCartCard {
    display: flex;
    flex-direction: row;
}

.itemCartCard .splitScreen {
    float: right;
}

.quanityItemCart {
    display: flex;
    flex-direction: column;
}
 */
#itemCartContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.itemCartCard {
    display: grid;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    border-bottom: 2px solid #C7CBDA;
    margin-top: 5px;
    margin-bottom: 3px;
}

.itemCartImage {
    grid-column: 1;
}
.itemCartCard .itemCartImage:hover {
    opacity: 0.5;
}

.itemCartInfo{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    grid-column: 2;
    margin:0;
}

.itemCartQuanity {
    display: flex;
    flex-direction: column;
    grid-column: 3;
}

.quantityBtns {
    display: inline;
    justify-items: center;
}

.itemCartName {
    margin-top: 0;
    margin-bottom: 0;
}

.itemCartPrice {
    margin-top: 3px;
    margin-bottom: 0;
}

.itemCartColour {
    margin-top: 3px;
    margin-bottom: 0;
}

.itemCartQuantityText {
    margin-top: 0;
    margin-bottom: 0;
}

.itemCartQuantityInfo {
    margin-top: 5px;
    margin-bottom: 5px;
}








/* css for mobile version */
@media screen and (max-width: 768px) {
    /* css for all */
    h1 {
        font-size: 2em;
    }

    /* css for index page */
    .homeSection1 {
        flex-direction: column;
    }

    .homeSection2 {
        flex-direction: column;
    }

    /* css for item page */
    #descProduct {
        font-size: 1em;
    }
    
    #nameProduct {
        font-size: 1.5em;
    }

    #priceProduct {
        font-size: 1.3em;
    } 

    #colourText {
        font-size: 1.3em;
    }

    #colourProduct {
        font-size: 1.3em;
    }

}

   /* css for tablet version */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    /* css for all */
    h1 {
        font-size: 3em;
    }

    /* css for item page */
    #descProduct {
        font-size: 1.5em;
    }

    #nameProduct {
        font-size: 1.9em;
    }

    #priceProduct {
        font-size: 1.7em;
    } 

    #colourText {
        font-size: 1.7em;
    }

    #colourProduct {
        font-size: 1.7em;
    }


}

  /* css for desktop version */
@media screen and (min-width: 1025px) {    
    /* css for all */
    h1 {
        font-size: 4em;
    }
    
    /* css for item page */
    #descProduct {
        font-size: 2.1em;
    }

    #nameProduct {
        font-size: 2.5em;
    }

    #priceProduct {
        font-size: 2.3em;
    } 

    #colourText {
        font-size: 2.3em;
    }

    #colourProduct {
        font-size: 2.3em;
    }

}